{% extends 'horoscope/base.html' %}
{% load static %}

{% block title %}
    <title>Вход</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style_login.css' %}">
{% endblock %}

{% block login %}
<form class="box" action="{% url 'login' %}" method="post">
    <h1>Вход</h1>
    {% csrf_token %}
    {{ form.username }}
    {{ form.password }}
    <input type="submit" name="" value="Войти">
    <div class="question">
        Нет аккаунта? <a href="registration/">Зарегистрируйтесь</a>
    </div>
</form>
{% endblock %}