{% extends 'horoscope/base.html' %}
{% load static %}

{% block title %}
    <title>Регистрация</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style_login.css' %}">
{% endblock %}

{% block login %}
<form class="box" action="{% url 'registration' %}" method="post">
    <h1>Регистрация</h1>
    {% csrf_token %}
    {{ form.first_name }}
    {{ form.last_name }}
    {{ form.username }}
    {{ form.email }}
    {{ form.date_birth }}
    {{ form.password1 }}
    {{ form.password2 }}
    <input type="submit" name="" value="Регистрация">
    <div>
        Уже есть аккаунт? <a href="/login/">Войдите</a>
    </div>
</form>
{% endblock %}