{% extends 'horoscope/index.html' %}
{% load static %}


{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'base_style.css' %}">
{% endblock %}


{% block content %}
  <div class="content">
      <h1>О проекте</h1>
      <h2>Horoscope является ведущим экспертом по гороскопам в области образа жизни</h2>
      <p>Мы стремимся вдохновлять людей всех возрастов
          и давать им возможность прожить свою лучшую жизнь
          с помощью беззаботных гороскопов.
      </p>
      <p>Мы здесь ради тебя!
          Благодаря оптимистичному взгляду на мир вокруг нас,
          наш контент вдохновляет других.
          Независимо от того, на какой сфере своей жизни вы хотите сосредоточиться,
          мы здесь для вас. Помимо тем гороскопа (любовь, работа, деньги),
          у нас есть свежий ежедневный контент, который поможет вам
          двигаться в правильном направлении.
      </p>
  </div>
{% endblock %}


