{% extends 'horoscope/index.html' %}
{% load static %}


{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'base_style.css' %}">
{% endblock %}


{% block content %}
  <div class="content">
      <h2>{{ sign }}</h2>
      <h1>Гороскоп на сегодня</h1>
      <p>{{ description }}</p>
      <h4 href="" class="info">Счастливое число: {{ lucky_number }}</h4>
      <h4 href="" class="info">Сегодняшний цвет: {{ color }}</h4>
      <a href="love/" class="btn">Любовь</a>
      <a href="work/" class="btn">Работа</a>
      <a href="money/" class="btn">Деньги</a>
  </div>
{% endblock %}


