{% extends 'horoscope/base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'base_style.css' %}">
{% endblock %}


{% block content %}
  <div class="content">
    <h1>Гороскоп на сегодня для {{ sign }}</h1>
    <p>"Бла бла бла бла бла "Здесь отображается астрологический прогноз для выбранного знака зодиака
      на сеголняшний день. Для получения информации о счастливом числе нажмите кнопку снизу.
    </p>
    <a href="#" class="btn">Счастливое число</a>
  </div>
{% endblock %}
